<link href="__PUBLIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
    <h2 class="sub-header ">配置新的公众号</h2>
    <form class="form-horizontal" action="__ROOT__/Home/Admin/addWechat" method="post">
        <div class="form-group">
            <label for="AppID" class="col-sm-2 control-label">AppID</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="AppID" name="AppID" placeholder="" value="{$event.eventtitle1}">
            </div>
        </div>
        <div class="form-group">
            <label for="AppSecret" class="col-sm-2 control-label">AppSecret</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="AppSecret" name="AppSecret" placeholder="" value="{$event.eventtitle2}">
            </div>
        </div>
        <div class="form-group">
            <label for="wechatName" class="col-sm-2 control-label">公众号名称</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="wechatName" name="wechatName" placeholder="" value="{$event.eventtitle2}">
            </div>
        </div>
        <div class="form-group">
            <label for="wechatID" class="col-sm-2 control-label">公众号微信号</label>
            <div class="col-sm-8 input-group">
                <input type="text" class="form-control" id="wechatID" name="wechatID" placeholder="" value="{$event.eventtitle2}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-2">
                <button type="button" class="btn btn-default">取消</button>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">创建</button>
            </div>
        </div>

    </form>
</div>
<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
    <h2 class="sub-header">公众号一览</h2>
    <div class="table-responsive col-md-12">
        <table class="table table-hover table-condensed table-bordered">
            <thead>
            <tr>
                <th>公众号名称</th>
                <th>公众号微信号</th>
                <th>公众号AppID</th>
                <th>公众号AppSecret(加密处理)</th>
                <th>是否使用中</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="wechats" id="vo">
                <tr>
                    <td>{$vo.wechatname}</td>
                    <td>{$vo.wechatid}</td>
                    <td>{$vo.appid}</td>
                    <td>{$vo.appsecret|md5}</td>
                    <td class="{$vo.status}">{$vo.status|str_replace="success","是",###|str_replace="info","否",###}</td>
                    <td> <a class=" btn {$vo.status|str_replace='success','disabled',###|str_replace='info','notdisabled',###}" data-toggle="modal" style="cursor: pointer;color: red;" data-target=".bs-example-modal-sm-{$vo.appid}">删除</a></td>
                    <div class="modal fade bs-example-modal-sm-{$vo.appid}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">确定删除?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>将删除 <mark>{$vo.wechatname}</mark> 全部信息,确定删除？</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <a href="__ROOT__/Home/Admin/delWechat?id={$vo.appid}" type="button" class="btn btn-danger">确定删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>